@import "../utils/colors.scss";

.card {
  height: 12.8rem;
  width: 24rem;
  background-color: $bgColor;
  padding: 1.6rem 2.4rem;
  border: none;
  border-radius: 0.64rem;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: 0.4s ease-in-out;
  .logo {
    background-color: #f32a8f33;
    height: 6.4rem;
    width: 6.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.64rem;
    svg {
      color: #f32a8f;
      font-size: 3.2rem;
    }
  }
  .card-title {
    margin-bottom: 1.6rem;
    font-size: x-large;
    color: rgb(18, 18, 88);
  }
  &:hover {
    box-shadow: #410ba52f 5px 5px, #410ba51e 10px 10px, #410ba502 15px 15px;
  }
}
