@import "../utils/colors.scss";

.card {
  height: 12.8rem;
  width: 24rem;
  background-color: $bgColor;
  padding: 1.6rem 2.4rem;
  border: none;
  border-radius: 0.64rem;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: 0.4s ease-in-out;
  .logo {
    background-color: #f32a8f33;
    height: 6.4rem;
    width: 6.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.64rem;
    svg {
      color: #f32a8f;
      font-size: 3.2rem;
    }
  }
  .card-title {
    margin-top: 1.6rem;
    font-size: x-large;
    color: rgb(18, 18, 88);
  }
  &:hover {
    box-shadow: #410ba52f 5px 5px, #410ba51e 10px 10px, #410ba502 15px 15px;
  }
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .card {
    height: 19.2rem;
    width: 80vw;
    padding: 4.8rem 5.6rem;
    .logo {
      height: 8rem;
      width: 8rem;

      svg {
        font-size: 4.8rem;
      }
    }
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .card {
    height: 14.4rem;
    width: 40vw;
    padding: 3.8rem 4.6rem;
    .logo {
      height: 6.4rem;
      width: 6.4rem;

      svg {
        font-size: 3.2rem;
      }
    }
    .card-title {
      margin-bottom: 1, 6rem;
      color: rgb(18, 18, 88);
    }
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .card {
    height: 12.8rem;
    width: 16vw;
  }
}
