@import "../utils/colors.scss";

.main-container {
  width: 85vw;
  margin: 0 auto;

  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;

    .content {
      margin-top: 7rem;
      padding: 0 1rem;
      text-align: left;
      h1 {
        color: $headingColor;
        font-size: 4rem;
      }
      p {
        color: $lightFontColor;
        line-height: 2.5rem;
      }
      .button-container {
        display: flex;
        gap: 1rem;
        button {
          margin-top: 1rem;
        }
      }
    }
    .image {
      height: 53rem;
      width: 54rem;
      margin-top: 2rem;
    }
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .main-container {
    .container {
      grid-template-columns: 1fr;
      gap: 1rem;
      .content {
        width: 85vw;
        margin-right: 0;
        margin-top: 4.8rem;
        h1 {
          font-size: 3rem;
        }
        p {
          line-height: 3rem;
        }
      }
      .image {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        height: 40rem;
        width: 50vw;

        img {
          height: 40rem;
          width: 100%;
        }
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .main-container {
    padding-bottom: 4rem;
    .container {
      .content {
        h1 {
          font-size: 3.2rem;
        }
        p {
          line-height: 2.2rem;
        }
      }
      .image {
        height: 40rem;
        width: 40rem;

        img {
          height: 50rem;
          width: 40rem;
        }
      }
    }
  }
}
