@import "../utils/colors.scss";

.main-container {
  margin: 0 10%;

  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    .content {
      margin-top: 5.4rem;
      margin-right: 4.8rem;

      h1 {
        color: $headingColor;
        font-size: 4rem;
      }
      p {
        color: $lightFontColor;
        line-height: 2.5rem;
      }
      .button-container {
        display: flex;
        button {
          margin-top: 1rem;
          margin-right: 1.6rem;
        }
      }
    }
    .image {
      height: 55rem;
      width: 55rem;
    }
  }
}
