@import "../utils/colors.scss";

.testimonials-container {
  background-color: $backgroundOtherColor;
  .container {
    margin: 0 10%;
    padding: 8rem 0;

    .title-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .title {
        margin-bottom: 1.6rem;
      }
      p {
        color: $lightFontColor;
      }
    }
    .testimonials {
      margin-top: 2.4rem;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 4.8rem;
    }
  }
}
