@import "../utils/colors.scss";

.why-container {
  min-height: 50vh;
  .container {
    width: 85vw;
    margin: 0 auto;
    padding: 8rem 0rem;
    .top {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .title {
        margin-bottom: 1.6rem;
      }
      .subTitle {
        display: flex;
        justify-content: center;
        align-items: center;
        p {
          width: 65%;
          text-align: center;
          color: $lightFontColor;
        }
      }
    }
    .content {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 3rem;
      margin-top: 1.5rem;

      .reasons {
        height: 40vh;
        width: 35vw;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        ul {
          width: 90%;

          list-style: none;
          list-style-image: url("../../assets/images/check-circle.svg");

          li {
            color: $lightFontColor;
            margin-bottom: 1.6rem;
            padding-left: 0.2rem;
          }
        }
      }
      .video {
        height: 28rem;
        width: 95%;
        background-image: url("../../assets/images/videoImage.jpg");

        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        svg {
          cursor: pointer;
          color: white;
          font-size: 11.2rem;
        }
      }
    }
  }
}
@media screen and (min-width: 300px) and (max-width: 767px) {
  .why-container {
    .container {
      .top {
        .subTitle {
          p {
            width: 100%;
            text-align: left;
          }
        }
      }

      .content {
        grid-template-columns: 1fr;
        gap: 4rem;
        align-items: center;
        justify-content: center;
        margin-top: 1rem;
        .reasons {
          height: 40vh;
          width: 70vw;
          margin: 0 auto;

          ul {
            margin-left: 2.3rem;
            width: 100%;
          }
        }
        .video {
          margin-bottom: 2.4rem;
          height: 20rem;
          width: 100%;
          svg {
            font-size: 8rem;
          }
        }
      }
    }
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .why-container {
    .container {
      .top {
        .subTitle {
          p {
            width: 80%;
            margin-bottom: 1.6rem;
          }
        }
      }

      .content {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        align-items: center;
        margin-top: 1.3rem;
        .reasons {
          height: 40vh;
          width: 100%;
          margin: 0 auto;

          ul {
            li {
              color: $lightFontColor;
              margin-bottom: 1rem;
              padding-left: 0.3rem;
            }
          }
        }
        .video {
          margin-bottom: 2.4rem;
          height: 25rem;
          width: 90%;
          svg {
            font-size: 8rem;
          }
        }
      }
    }
  }
}
