@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  /* 1rem = 16px (user agent) = 100% (user agente) */
  font-size: 62.5%; /*10px ficou como padrão */
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;

  /* intervalo de tamanho clamp(mini,padrão,max)*/
  font-size: clamp(14px, 1.6rem, 2vw);
}
html {
  scroll-behavior: smooth;
}
body {
  max-width: 100vw !important;
  font-family: "Raleway", sans-serif;
  background-color: #fff;
}

body::-webkit-scrollbar {
  width: 10px;
  background-color: #fff;
}
body::-webkit-scrollbar-thumb {
  background-color: rgb(243, 42, 143);
}
